* {
    box-sizing: border-box;
  }
  
body {
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
}
  
li {
    list-style-type: none;
    display: flex;
    justify-content: center;

}
a {
    text-decoration: none;
    text-transform: uppercase;
    color: #444;
    font-size: smaller;
}

.button {
    border: 1px solid black;
    border-radius: 70px;
    text-align: center;
    padding: 10px;}
  
.img-container {
    height: 40%;
    border: 3px solid black;
}

.content-container {
    border: 3px solid black;
}

h1 {
    font-size: 26px;
}

h2 {
  font-size: 20px;
  padding: 5px;
}

.hero-bold {
    color: #FF7300;

  }

.nz-img {
  width: 90%;
}

.nav-buttons {
    display: flex;
    flex-direction: column;
}

.footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icon {
    margin-left: 40px;
    text-align: center;
}


/* for desktop */
@media (min-width: 481px) {

  .ultimate-container {
      display: inline-flex;
      justify-content: center;
      flex-direction: column;
  }
}