* {
    box-sizing: border-box;
  }
  
body {
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
}
  
li {
    display: inline;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: #444;
    font-size: smaller;
}

.button {
    border: 1px solid black;
    border-radius: 70px;
    display: inline;
    text-align: center;
    padding: 3px;
    margin: 5px;
}

.projects-container {
    margin-left: 10px;
    margin-right: 10px;
}

h2 {
  font-size: 26px;
  padding: 5px;
  text-align: left;
}

h3 {
    font-size: 18px;
    text-align: left;
    padding: 5px;
  }

p {
    font-size: 18px;
    line-height: 1.4;
    text-align: left;
    flex-wrap: wrap;
    padding: 5px;
}
.hero-bold {
    color: #FF7300;

  }

.nz-img {
  width: 90%;
}

.nav-buttons {
    margin-right:35px;
}

.footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 92%;
}

.icon {
    padding: 30px;
}

.project {
    width: 85%;
    /* padding: 5px; */
}

/* for desktop */
@media (min-width: 700px) {

    .ultimate-container {
        display: flex;
        flex-direction: row;
    }

    .content-container {
        margin: 100px;
    }

    .projects-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        flex-basis: 50%;
    }
      
    .break {
        flex-basis: 100%;
        height: 25px;
    }

    .project-box {
        flex-basis: 45%;
        
        /* padding: 5px; */
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 30px;
    }

}